@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>@ViewData["email"]</p>
<p>Autor: @ViewData["autor"]</p>


<address>
    <strong>
        Para mais Informações: 
    </strong>
    <a href="https://github.com/hrenrery">GitHub</a>
</address>

